body{
    background-color: black;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
#header{
    background-color: #8B9E51;
    width: 100%;
    height: 150px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#headerspace{
    height: 150px;
}
#container{
    
}
#footer{
    background-color: #8B9E51;
    width: 100%;
    height: 300px;
    position: relative;
    left: 0px;
    bottom: 0px;
}   
#ticketheader{
    background-color: white;
    position: relative;
    color: #8B9E51;
    margin-top: 30px;
    height: 100px;
    font-size: 90px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius:5px;
}
#text{
    margin-left: 15px;
}
#datumkeuze{
    color:#fff;
    margin-top: 10px;
    margin-left: 50px;
    display:flex;
}
select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
    color: #8B9E51;
    margin-right: 10px;
}
  
select:focus{
    outline:none;
}
#filmnaam{
    color: #8B9E51;
    width: fit-content;
    background-color: #fff;
    border:none;
    padding: 10px 20px;
    border-radius:5px;
    margin-right: 10px;
}
#stappen{
    position: relative;
    background-color: #fff;
    margin-left: 50px;
    margin-right: 300px;
    margin-top: 50px;
    border-radius: 5px;
}

#stap1header{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    color: #8B9E51;
}
#ticketmenuboven{
    display: flex;
    margin-top: 20px;
}
.type{
    margin-left: 10px;
}
.prijs{
    margin-left: 70%;
}
.aantal{
    margin-left: 8%;
}

.type1{
    margin-left: 10px;
}
.prijs1{
    margin-left: 805px;
}
.aantal1{
    margin-left: 8%;
}

.type2{
    margin-left: 10px;
}
.prijs2{
    margin-left: 756px;
}
.aantal2{
    margin-left: 8%;
}

.type3{
    margin-left: 10px;
}
.prijs3{
    margin-left: 836px;
}
.aantal3{
    margin-left: 8%;
}

hr{
    margin-left: 10px;
    margin-right: 100px;
}
.flex{
    display: flex;
    margin-top: 5px;
}
#voucher{
    display: flex;
    margin-left: 10px;
}
#vouchertext{
    width: 75%;
    margin-left: 20px;
    margin-right: 17px;
}
#stap2header{
    margin-left: 10px;
    margin-top: 30px;
    font-size: 30px;
    color: #8B9E51;
}
#hr2{
    margin-top: 30px;
    border: 5px solid #627137;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 200px;
}
#filmdoek{
    margin-left: 42.5%;
    font-size: large;
    font-weight: bold;
    color: #627137;
    margin-bottom: 30px;
}
#zitplekkeuze{
    margin-left: 21.25%;
}
#bestelling{
    height: 300px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 100px;
    border-style: solid;
    border-color: #8B9E51;
    border-radius: 5px;
}